@import '../../../assets/styles/variable';

.activitiy-container {
	height: calc(100vh - 82px);
	overflow-y: scroll;
	.inner-wrapper {
		height: calc(100% - 60px);
		padding: 30px;
		.activity-detail--wrapper {
			.activity-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.img-wrapper {
					width: fit-content;
					height: fit-content;
					padding: 0 5px;
					border-radius: 15px;
					margin-bottom: 5px;
					margin-right: 20px;
					.activity-img {
						width: 60px;
					}
				}
				.back-arrow {
					.back-arrow-svg {
						fill: white;
					}
				}
			}
			.detail-wrapper {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.card-wrapper {
					width: 100%;
					max-width: 350px;
					background-color: #1e1e1e;
					padding: 15px 20px 30px 15px;
					border-radius: 15px;
					margin: 20px;
					.card-img--wrapper {
						width: fit-content;
						height: fit-content;
						padding: 5px 10px;
						border-radius: 15px;
						// margin-top: -35px;
						// margin-bottom: 15px;
						margin: -35px auto 15px auto;

						.card-img {
							width: 40px;
						}
					}
					.calory-img {
						background-color: #fad578;
					}
					.heart-rate-img {
						background-color: #688d95;
					}
					.steps-img {
						background-color: #6f4bdb;
					}
					.value {
						font-weight: medium;
						font-size: 18px;
					}
					.calories {
						color: #fad578;
					}
					.heart-rate {
						color: #688d95;
					}
					.steps {
						color: #6f4bdb;
					}
				}
			}
			.weekly-detail--wrapper {
				margin-left: 20px;
				.weekly-title {
					color: rgb(212, 208, 208);
					font-weight: 500;
					text-align: center;
				}
				.weekly-charts {
					justify-content: center;
					.chart-wrapper {
						width: 100%;
						max-width: 650px;
					}
				}
			}
		}
	}
}
