@import '../../../assets/styles/variable';

.dashboard-wrapper {
	height: calc(100vh - 82px);
	overflow-y: scroll;
	.fitness-detail--wrapper {
		padding: 30px 25px;
		display: flex;
		width: calc(100% - 50px);
		.overview-title {
			color: rgb(212, 208, 208);
			font-weight: 500;
		}
		.chart-wrapper {
			width: 150px;
		}
		.overview-wrapper {
			background-color: #1e1e1e;
			width: calc(100% - 40px);
			padding: 10px 20px;
			border-radius: 15px;
		}
		.overview-list--wrapper {
			.health-percentage {
				color: #fefefe;
				font-size: 22px;
			}
			.list-title {
				color: $gray;
				font-size: 14px;
				margin-bottom: 5px;
			}
			.list {
				align-items: center;
				&::before {
					content: '\2022';
					font-size: 60px;
					line-height: 0px;
					margin-right: 5px;
					margin-bottom: 5px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			.list1::before {
				color: #6f4bdb;
			}
			.list2::before {
				color: #fad578;
			}
			.list3::before {
				color: #87c285;
			}
		}

		.todays-activity-wrapper {
			background-color: #1e1e1e;
			width: calc(100% - 20px);
			border-radius: 15px;
			padding: 0 20px 0 0;
			.today-img-wrapper {
				margin-right: 20px;
				width: 170px;
				position: relative;
				.img {
					height: 240px;
					border-radius: 15px;
					width: inherit;
				}
				.banner::after {
					content: ''; // ::before and ::after both require content
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 15px;
					justify-content: center;
					align-items: center;
					display: flex;
					color: white;
					// background-image: linear-gradient(120deg, #6de1e3, #5e34d9);
					background-image: linear-gradient(150deg, #e3c56d, #457e71, #7f73e1);
					opacity: 0.7;
				}
			}
		}
		.goals-wrapper {
			width: 30%;
			.card-wrapper {
				width: 100%;
				max-width: 400px;
				background-color: #1e1e1e;
				padding: 10px 20px;
				border-radius: 15px;
				.goal-title-description {
					display: flex;
					justify-content: space-between;
				}
				.activity-img--wrapper {
					width: fit-content;
					height: fit-content;
					padding: 0 5px;
					border-radius: 15px;
					margin-top: -35px;
					margin-bottom: 10px;
					.activity-img {
						width: 35px;
					}
				}
			}
		}
		.calory-wrapper {
			width: fit-content;
			height: fit-content;
			padding: 0 5px;
			border-radius: 15px;
			margin-right: 10px;
			.calories-burn {
				width: 20px;
				margin: 2px;
			}
		}
		.activity-table {
			background-color: #1e1e1e;
			padding: 10px 20px;
			border-radius: 15px;
			.table-body {
				.table-row {
					td {
						margin-bottom: 10px;
					}
					.activity-name-date {
						padding: 5px 30px 5px 10px;
						.activity-name {
							color: $white;
							font-size: 18px;
							margin-bottom: 5px;
						}
						.activity-date {
							color: gray;
						}
					}
					.table-data {
						color: gray;
						padding: 5px 50px;
						.heart-svg {
							width: 50px;
							height: 50px;
							fill: rgb(180, 60, 60);
							margin-right: 10px;
						}
					}
					.table-activity-img--wrapper {
						width: fit-content;
						height: fit-content;
						padding: 0 5px;
						border-radius: 15px;
						margin-bottom: 5px;
						.table-activity-img {
							width: 35px;
						}
					}
				}
			}
		}

		.activity-chart--wrapper {
			width: 100%;
			max-width: 1100px;
		}
		.detail-wrapper {
			justify-content: center;
		}
		.activity-dashboard-wrapper {
			justify-content: center;
		}
	}
}
