@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
	// Login Page
	.login {
		.logo-wrapper {
			margin-bottom: 40px;

			.logo_nextedgelogo {
				max-width: 250px;
			}

			.logo_reelanalyticslogo {
				max-width: 100px;
			}
		}

		.form {
			.form-item {
				.input-field {
					min-height: 60px;
				}

				.password-icon {
					top: 16px;
				}
			}

			.checkbox {
				margin-bottom: 40px;
			}

			.login-btn {
				min-height: 60px;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) {
	// Login Page
	.login {
		.logo-wrapper {
			margin-bottom: 30px;

			.logo_nextedgelogo {
				max-width: 200px;
			}
			.logo_reelanalyticslogo {
				max-width: 80px;
			}
		}

		.form {
			.form-item {
				.input-field {
					min-height: 50px;
				}

				.password-icon {
					top: 11px;
				}
			}

			.checkbox {
				margin-bottom: 35px;
			}

			.login-btn {
				min-height: 50px;
			}
		}
	}

	.topheader-wrapper {
		.header-title {
			width: 60%;
		}
		.profile-wrapper {
			width: 40%;
		}
	}
}

@media screen and (max-width: 992px) {
	.show--lg {
		display: none;
	}

	.hide--lg {
		display: block;
	}
}
@media screen and (max-width: 768px) {
	.show--md {
		display: none;
	}

	.hide--md {
		display: block;
	}
}

@media screen and (max-width: 576px) {
	.show--sm {
		display: none;
	}

	.hide--sm {
		display: block;
	}
}
@media screen and (max-width: 425px) {
	.show--xs {
		display: none;
	}
	.hide--xs {
		display: block;
	}
	.navbar-default {
		display: none;
	}
	.topheader-wrapper {
		width: calc(100vw - 31px);
		.header-title {
			font-size: 16px;
		}
		.profile-wrapper {
			.avatar-img {
				width: 40px;
			}
			.avatar-name {
				font-size: 10px;
			}
		}
	}
	.dashboard-wrapper {
		.fitness-detail--wrapper {
			width: calc(100% - 50px);
			padding: 10px 0;
			.overview-title {
				width: 300px;
				margin-top: 20px;
			}
			.detail-wrapper {
				flex-direction: column;
			}
			.overview-container {
				margin-left: 30px;
				.overview-wrapper {
					width: calc(100vw - 110px);
				}
			}
			.chart-wrapper {
				padding-right: 0;
				canvas {
					width: 120px !important;
					height: 120px !important;
				}
			}
			.todays-activity-container {
				margin-left: 30px;
				.todays-activity-wrapper {
					width: calc(100vw - 110px);
					padding: 10px 20px;
					.today-img-wrapper {
						display: none;
					}
				}
			}
			.goals-wrapper {
				margin-left: 30px;
				.card-wrapper {
					width: calc(100vw - 110px);
					padding: 10px 20px;
				}
			}
			.activity-dashboard-wrapper {
				flex-direction: column;
				.activity-table {
					width: calc(100vw - 110px);
					padding: 10px 20px;
					.table-body {
						.table-row {
							.table-data {
								display: none !important;
							}
							.activity-name-date {
								flex-direction: row !important;
								display: flex;
								align-items: center;
								justify-content: space-between;
								width: 100%;
							}
							.table-activity-img--wrapper {
								.table-activity-img {
									width: 25px;
								}
							}
						}
					}
				}
				.activities-container {
					margin-left: 30px;
				}
			}
		}
	}
	.activitiy-container {
		box-sizing: border-box;
		.inner-wrapper {
			width: calc(100% - 10px);
			padding: 20px 15px;
			.activity-detail--wrapper {
				.activity-header {
					.img-wrapper {
						display: none;
					}
				}
				.detail-wrapper {
					flex-direction: column;
					.card-wrapper {
						width: calc(100vw - 90px);
						margin: 20px auto;
						.card-img--wrapper {
							padding: 5px 8px;
							.card-img {
								width: 25px;
							}
						}
					}
				}
				.weekly-detail--wrapper {
					margin-left: 20px;
					.weekly-title {
						font-size: 20px;
					}
					.chart-wrapper {
						margin-top: 20px;
						canvas {
							height: 200px !important;
							width: 306px !important;
						}
					}
					.weekly-charts {
						flex-direction: column;
					}
				}
			}
		}
	}
}
